
.no-plants {
    height: 80vh;
    text-align: center;    
    display: inline-block;
    word-break: break-word;
    font-family: 'ABBvoice-Rg';
    font-size: 23px; 
    color: #b4b4b4;
}

p{
    display: inline-block;
    word-break: break-word;
    overflow-wrap: break-word;
    font-family: 'ABBvoice-Mg';
    font-size: 16px;
}
