.mat-form-field{
    background: #DDEDFD 0% 0% no-repeat padding-box;
border: 1px solid #ABD4FD;
border-radius: 5px;
opacity: 1;
}

.flex-container select {
    background: #DDEDFD 0% 0% no-repeat padding-box;
border: 1px solid #ABD4FD;
border-radius: 5px;
opacity: 1;
height: 38px;
text-align: left;
font: Regular 12px/17px ABBvoice;
letter-spacing: 0;
color: #2E92FA;
opacity: 1;
}
.day{
    font: 34px/58px ABBvoice;
    letter-spacing: 0;
    color: #1F1F1F;
    opacity: 1;
}
.number{
    font: Bold 60px/88px ABBvoice;
    letter-spacing: 0;
    color: #1F1F1F;
    opacity: 1;
}
.sub-header{
    font:  14px/21px ABBvoice;
    letter-spacing: 0;
    color: #1F1F1F;
    opacity: 1;
}
.center-text{
    min-height: 300px;
    height: auto;
}
