.font-style{
    font:  14px/20px ABBvoice;
    letter-spacing: 0;
    color: #1F1F1F;
    opacity: 1; 
}

.flex-container .custom-select {
    background: #DDEDFD 0% 0% no-repeat padding-box;
border: 1px solid #ABD4FD;
border-radius: 5px;
opacity: 1;
height: 28px;
text-align: left;
font: 12px/17px ABBvoice;
letter-spacing: 0;
color: #2E92FA;
opacity: 1;
}
.flex-container select {
    background: #ffffff 0% 0% no-repeat padding-box;
border-radius: 5px;
opacity: 1;
height: 28px;
text-align: left;
font: 12px/17px ABBvoice;
letter-spacing: 0;
color: #121212;
opacity: 1;
}