
  .example-card {
      width: 400px;
      box-shadow: 0 0px 1px -1px rgba(0,0,0,1), 0 1px 2px 0 rgba(0,0,0,1), 0 1px 3px 0 rgba(0,0,0,1);
      border-radius: 0px;
  }
  .mat-card{
    padding: 0;
  }
  .mat-card-header {
    padding-top: 8px;
  }
  .mat-card-header .mat-card-title {
    font-size: 18px;
    font-family: arial;
    font-weight: 700;
    margin-top: 3px;
      margin-left: 15px;
  }
  .right-dots{
    position: absolute;
    right: 14px;
    cursor: pointer;
}
.left-drag{
    position: absolute;
    left: 5px;
    color:lightgray;
    cursor: pointer;
}

  