// Colors used in the app are defined here

// White variations
$white1: #ffffff;

// Black variations
$black1: #1f1f1f;
$black2: #000000;

// Gray Variations
$gray1: #BABABA;
$gray2: #686868;
$gray3: #979797;
$gray4: #d4d8df;
$gray5: #7e7f8a;
$gray6: #f4f9fd;
$gray7: #e9ebee;

$dark-gray: #4a4a4a;

// Blue Variations
$blue1:#2E92FA;
$btn-bg-color: #ABD4FD;


