<mat-card >
    <mat-card-title>
            <div class="header-title">
              <span class="abb-title">
                <img
                  _ngcontent-ng-cli-universal-c1=""
                  class="nav-icons"
                  src="/assets/ABB UI Icon Package/SVG/move-icon.svg"
                />
                {{ widgetDetails.title }}
              </span>
              <span class="vertical-menu">
                <button
                  style="float:right;"
                  mat-icon-button
                  [matMenuTriggerFor]="menu"
                  aria-label="Example icon-button with a menu"
                >
                  <mat-icon>more_vert</mat-icon>
                </button>
                <mat-menu #menu="matMenu">
                  <button mat-menu-item>
                    <mat-icon>dialpad</mat-icon>
                    <span>Redial</span>
                  </button>
                </mat-menu>
              </span>
            </div>
      
    </mat-card-title>
    <mat-card-content>
            <div class="flex-contianer" fxLayout="row" fxLayoutAlign="start" fxLayoutGap="10px" style="margin-top: 15px;">
                    <div class="flex-container drop-down" fxLayout="column" fxLayoutGap="5px" style="width: 23%;">
                        <div class="font-style">Manufacturer</div>
                            
                            <select>
                                <option *ngFor="let option of options"> {{option.viewValue}} </option>
                              </select>
                    </div>
                    <div class="flex-container drop-down" fxLayout="column" fxLayoutGap="5px" style="width: 23%;">
                        <div class="font-style">Asset class</div>
                        
                        <select>
                            <option *ngFor="let option of options"> {{option.viewValue}} </option>
                          </select>
                </div>
                </div>
        <div class="flex-container">
            <elcp-dynamic-chart  style="display:inline;"
            [chartOptions]="chartOptions">
    
            </elcp-dynamic-chart>
        </div>
    </mat-card-content>
    </mat-card>
    