/* 
 * @summary : Application color code are defined in this file (scss).
 *            Sass variables are all compiled by Sass. CSS variables are included in the CSS output.
 */

 // Hyper Link color

$background-color: #EBEBEB;
$color : rgb(134, 134, 134);
$anchor-color:  #0366d6;
