.font-style{
    font:  14px/20px ABBvoice;
    letter-spacing: 0;
    color: #1F1F1F;
    opacity: 1; 
}
.flex-container select {
    background: #DDEDFD 0% 0% no-repeat padding-box;
border-radius: 5px;
border: 1px solid #ABD4FD;
opacity: 1;
height: 28px;
color: #2E92FA;
text-align: left;
font: 12px/17px ABBvoice;
letter-spacing: 0;
opacity: 1;
}