<mat-card fxFlex.sm="100%" fxFlex.sm="100%" fxFlex.xs="100%" class="table-widget-container">
  <mat-card-title>
    <div class="header-title">
      <span class="widget-title">
        <img _ngcontent-ng-cli-universal-c1="" class="nav-icons" src="/assets/ABB UI Icon Package/SVG/move-icon.svg">
        {{ widgetDetails.title }}
      </span>
      <span class="vertical-menu" >
        <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
          <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item>
            <mat-icon>dialpad</mat-icon>
            <span>Redial</span>
          </button>
        </mat-menu>
      </span>
    </div>
  </mat-card-title>
  <mat-card-content class="card-widget-container">
    <elcp-table-header [dataSource]='dataSource' (toggleButton)='toggleButton($event)'></elcp-table-header>
    <elcp-table [columns]='columns' [dataSource]='filterList'></elcp-table>
  </mat-card-content>
  <!-- <mat-paginator [pageSizeOptions]="[1, 2, 6]"></mat-paginator> -->
  <div class="pagination"  fxLayoutAlign="end end">
  <span class="pagination-label" >Page: </span>
  <mat-select    [(value)]="selectedPage" class="footer-select" (selectionChange)="pageChanged($event)">
    <mat-option  *ngFor="let item of filledArray; index as i" [value]="i+1">
      {{ i + 1 }}
    </mat-option>
  </mat-select>
</div>

</mat-card>